<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-item">Section 1</div>
        <div class="header-item">Section 2</div>
        <div class="header-item"><a href="/profile-page">Profile</a></div>
    </div>
    
    <a href="/logout">Logout</a>
</body>
</html>
