<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header-item-1">Welcome {{username}}!</div>
        <div class="header-item" onclick="window.location.href='/add-sets';"><a href="/add-sets">Set Lookup</a></div>
        <div class="header-item" onclick="window.location.href='/settings';"><a href="/settings">Settings</a></div>
    </div>

    <div class="set-container">
        <h1>View your Sets</h1>
        <div class="sets">
        <div class="ownedSets">
            <img src="{{recent_owned_image}}" alt="most recent owned image">
            <h1><a href="/owned-sets">Owned Sets</a></h1>
        </div>

        <div class="wishlistSets">
            <img src="{{recent_wishlist_image}}" alt="most recent wishlist image">
            <h1><a href="/wishlist-sets">Wishlist Sets</a></h1>
        </div>
    </div>
    </div>

</body>
</html>